.article {
  background-color: hsl(0, 0%, 100%);
  padding: 4rem min(2.7rem, 8.6%);

  & h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  & p {
    font-size: 1.23rem;
    color: var(--Dark-Gray);
    line-height: 1.8rem;
  }
}

.article--shop {
  & h2 {
    font-size: 2.8rem;
  }

  & p {
    word-spacing: 0.1rem;
  }

  .article--shop__content {
    margin-bottom: 3.5rem;
  }

  & .article--shop__btn {
    letter-spacing: 1rem;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 1.23rem;
    color: var(--Very-Dark-Gray);
    font-weight: 700;
    margin-bottom: 2rem;
    transition: letter-spacing .5s cubic-bezier(0.645, 0.045, 0.355, 1),
      transform .5s cubic-bezier(0.645, 0.045, 0.355, 1),
      filter .5s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      letter-spacing: .8rem;
      transform: scale(1.1) translateX(1rem);
      filter: contrast(0.8) drop-shadow(0.1rem 0.2rem 0.3rem rgba(0, 0, 0, .2));
    }

    &:hover>img {
      animation: arrowHover .5s cubic-bezier(0.2, 0.05, 0.85, 0.03) infinite alternate-reverse;
    }
  }
}

.article--about {
  & h2 {
    letter-spacing: .45rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  & p {
    word-spacing: .12rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 760px) {
  .article--shop {
    grid-column: 5 / 8;
    grid-row: 1 / 1;
    padding: 8.6rem;

    & h2 {
      font-size: 3.5rem;
    }

    .article--shop__content {
      margin-bottom: 2.5rem;
    }
  }

  .article--about {
    grid-row: 2;
    grid-column: 3 / 6;
    padding: 5.1rem 5.1rem 5.1rem;

    & h2 {
      font-size: 1.44rem;
      letter-spacing: .5rem;
      font-weight: 700;
    }

    & p {
      word-spacing: .12rem;
      margin-bottom: 0;
    }
  }
}

@keyframes arrowHover {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(50%);
  }
}
