.slider {
  position: relative;

  & .slider__buttons {
    position: absolute;
    background: hsl(0, 0%, 0%);
    right: 0;
    bottom: 0;
  }

  & .slider__btn {
    background-color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: min(11vh, 4.8rem);
    min-height: min(9vh, 4.8rem);
    transition: background-color .4s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:hover {
      opacity: .9;
      background-color: hsl(0deg 0% 26.67%);
    }
  }
}

@media screen and (min-width: 760px) {
  .slider {
    grid-row: 1 / 1;
    grid-column: 1 / -1;

    & .slider__btn {
      min-width: 7rem;
      min-height: 7rem;
    }
  }

  .view {
    & img {
      min-width: 100vw;
      max-height: 40rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    grid-column: 1 / 5;
    max-width: 84rem;
    min-height: 61vh;
    min-width: 80%;
    height: fit-content;
  }

  .view {
    & img {
      max-height: inherit;
      min-width: initial;
    }
  }
}

@media screen and (min-width: 1440px) {
  .slider {
    grid-column: 1 / 6;
  }
}
